/* global variables  */
:root {
	--main-color: #10cab7;
}
/* #10cab7 */
/* end of global variables */

/* global rules  */
body {
	font-family: 'Work Sans', sans-serif;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

 }
html {
	scroll-behavior: smooth;
}
.parent {
	background-color: #eee;
	
}
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
  }
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end of global rules */

/* header style */
header {
	padding: 20px;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
header .logo {
	width: 60px;
}
header .links {
	position: relative;
}
header .links .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
}
header .links .icon span {
	background-color: #333;
	margin-bottom: 5px;

}
header .links .icon span:first-child {
	height: 3px;
	width: 100%;
}
header .links .icon span:nth-child(2) {
	height: 3px;
	width: 70%;
	transition: 0.3s;
}
header .links:hover .icon span:nth-child(2) {
	width: 100%;
}
header .links .icon span:last-child {
	height: 3px;
	width: 100%;
}
header .links .icon {
	justify-content: flex-end;
}

.header_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	min-width:  200px;
	top: calc(100% + 15px);
	background-color: #aaaaaa;
	z-index: 1;
	display: none;
}
header .links:hover ul {
	display: block;
}
.header_ul::before {
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent black transparent;
	position: absolute;
	right: 5px;
	top: -20px;
}
.header_ul a {
	display: block;
	padding: 15px;
	text-decoration: none;
	transition: 0.3s;
	color: #333;
}
.header_ul a:hover {
	padding-left: 20px;
}
.header_ul li:not(:last-child) a {
	border-bottom: 1px solid #ddd;
}
/* end header */
/* start of ladnding style */
.landing {
	background-image: url(../images/mountain.jpg);
	background-size: cover;
	height: calc(100vh - 64px);
	position: relative;
}
.landing .intro_text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.landing .intro_text h1 {
	font-weight: bold;
	font-size: 50px;
	color: var(--main-color);
	text-align: center;
}
.landing .intro_text p {
	font-size: 20px;
	line-height: 1.8;
}
/* end of landing styel */
